<header class="site-header">
  <div class="logo">📱 AE Concept</div>
  <nav class="nav-links">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
    <a routerLink="/a-propos" routerLinkActive="active">À propos</a>
    <a routerLink="/nos-services" routerLinkActive="active">Services</a>
    <a routerLink="/test" routerLinkActive="active">Test</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
